[Rr]elease*/
[Dd]ebug*/
bacnet-stack/
*.bak
*~
*.swp
*.o
*.exe
*.a
.deps*/
*.cache
tools/src/dcclog/stamp-h1
tools/__pycache__/tftp.cpython-33.pyc
tools/src/dcclog/aclocal.m4
tools/src/dcclog/config.guess
tools/src/dcclog/config.h
tools/src/dcclog/config.log
tools/src/dcclog/config.status
tools/src/dcclog/config.sub
tools/src/dcclog/configure
tools/src/dcclog/depcomp
tools/src/dcclog/install-sh
tools/src/dcclog/Makefile
tools/src/dcclog/Makefile.in
tools/src/dcclog/missing
