[Rr]elease*/
[Dd]ebug*/
bacnet-stack/
*.bak
*~
*.swp
*.o
*.exe
*.a
.deps*/
*.cache
.metadata/
tools/src/dcclog/stamp-h1
tools/__pycache__/tftp.cpython-33.pyc
tools/src/dcclog/aclocal.m4
tools/src/dcclog/config.guess
tools/src/dcclog/config.h
tools/src/dcclog/config.log
tools/src/dcclog/config.status
tools/src/dcclog/config.sub
tools/src/dcclog/configure
tools/src/dcclog/depcomp
tools/src/dcclog/install-sh
tools/src/dcclog/Makefile
tools/src/dcclog/Makefile.in
tools/src/dcclog/missing
*.pyc
/tools/dcclog
/tools/src/dcclog/compile
/tools/src/dcclog/dcclog
tools/src/dcclog/config.h.in
/src/sdk/libhttpd/test/log.txt
log.txt
*.i
src/sdk/libgdb/test/.settings/language.settings.xml
src/boot/.settings/language.settings.xml
src/app/hello/.settings/language.settings.xml
src/app/hello/.settings/language.settings.xml
src/app/hello/.settings/org.eclipse.cdt.codan.core.prefs
src/app/test1/.settings/language.settings.xml
RemoteSystemsTempFiles/
/doc/man/*
/doc/html/*
/doc/rtf/*
/doc/thinkos/html/*
/doc/thinkos/rtf/*
/doc/thinkos/xml/*
History/
Project Logs*/
