
hr {
	background-color: #114;
	color: #112;
	width: 100%;
	height: 1px;
	margin: .2em 0 0.2em 0;
}


table {
	border-collapse: collapse;
	margin: 0 0 .4em 0;
}

table, th, td {
	border: 1px solid black;
	padding: .2em .4em .2em;
	text-align: center;
}

thead {
	background: #b8c8e8;
	color: black;
}

table.monitor {
	border-collapse: collapse; 
}

table.monitor td {
	text-align: center;
}

table.monitor tbody tr:nth-child(odd) {
	background: #f8f8f8;
}

table.monitor tbody tr:nth-child(even) {
	
	background: #d8e8f8;
}

table.zebra {
	border-collapse: collapse;
	border: 1px solid black; 
	table-layout: fixed;
}

table.zebra td {
	text-align: center;

	padding: 0;
	margin: 0;	
}

table.zebra tbody tr:nth-child(odd) {
	background: #f8f8f8;
}

table.zebra tbody tr:nth-child(even) {
	
	background: #d8e8f8;
}

table.zebra thead {
	background: #a0b0e0;
	color: black;
}

table.formgrid {
	border-collapse: collapse; 
	margin: 0;
	border: 0;	
}

table.formgrid td {
	padding: .2em .4em .2em;
	text-align: left;
	margin: 0;
	border: 0;	
}

table.formgrid th {
	padding: .2em .4em .2em;
	text-align: right;
	margin: 0;
	border: 0;	
}

form {
	padding: 0;
	margin: 0;
	border: 0;
	display: table;
}

input[type=text], input[type=number] {
	background: #fff;
	margin: 1px 2px 1px;
	border: 1px solid #444;
	padding: 3px 3px 2px;
}

textarea:hover, input[type=text]:hover, input[type=number]:hover {
	background: #cdf;
}

textarea, pre {
	-moz-tab-size : 4;
	-o-tab-size : 4;
	tab-size : 4;
	overflow-y: scroll;
	background: #fff;
	margin: 1px 2px 1px;
	border: 1px solid #444;
	padding: 3px 3px 2px;
}

pre {
	overflow-x: auto;	
}

select {
	background: #fff;
	margin: 1px 2px 1px;
	border: 1px solid #444;
	padding: 3px 3px 2px;
}

select:hover {
	background: #cdf;
}

input[type=button], input[type=reset], input[type=submit], button {
	background: #ccc;
	margin: 1px 4px 1px;
	border: 1px solid #444;
	padding: 4px 8px 3px;
}

input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
	button:hover {
	background: #458;
	color: #fff;
	text-decoration: none;
}

mbox {
	background-color: #eee;
	padding: 8px;
	border: 2px solid #222;
}

dlg {
	clear: both;
}

dlg h1 {
	text-align: left;
	border-bottom: 1px dashed #666;
	font-size: 1.1em;
	padding: 1px 0 0;
	margin-bottom: 4px;
	clear: both;
	width: 100%;
}

ol {
	background-image: url(img/overlay.png);
}

.dialog {
	display: none
}

* html #ol {
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/overlay.png",
		sizingMethod="scale");
}

.hidden {
	background: #fdd;
	border: 0;
	margin: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.jsbox {
	display: inline-block;
	height: 160px;
	width: 320px;
/*	background: #0f0; */
/*  height: 100px; */
	float: left;
  	border: 0;
/*	margin: 0 4px 0 0; */
	padding: 0;
}

.termbox {
	display: inline-block;
	width: 480px;
	height: 160px;
  	border: 0;
	margin: 0;
/*	padding: 0 0 0 8px; */
/* background: #f00; */
/*  height: 100px; */
}

textarea.script {
	width: 100%; 
	height: 100%; 
	margin: 0;
	padding: 2px;
	-moz-tab-size : 4;
	-o-tab-size : 4;
	tab-size : 4;
	overflow-y: scroll;
/*	background: #fff; */
	border: 1px solid #444;
}

table.thidden {
	border-collapse: collapse; 
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
}

table.thidden td {
	text-align: left;
	margin: 0;
	border: 0;
	padding: 0;			
}

table.thidden th {
	text-align: left;
	margin: 0;
	border: 0;
	padding: 0;			
}
